@model List<Student>

    <h2>All Students Details</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Titel</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Titel</td>
                <td>@item.Age</td>
            </tr>
        }
    </tbody>
</table>
